@font-face {
  font-family: 'Mouse Memoirs';
  font-style: normal;
  font-weight: 400;
  src: local('Mouse Memoirs'), local('MouseMemoirs-Regular'), url(http://themes.googleusercontent.com/static/fonts/mousememoirs/v2/NBFaaJFux_j0AQbAsW3QeNUFqmyT-Ih543PWa_C0ig4.woff) format('woff');
}
